@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif; /* Fonte Space Grotesk */
    background-color: #0B1E3F; /* Fundo azul escuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #F5F9FF; /* Texto branco-azulado */
}

.container {
    background: #224582; /* Fundo azul escuro */
    padding: 10px 50px 30px 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra mais escura */
    text-align: center;
    width: 100%;
    max-width: 500px;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
    color: #F5F9FF; /* Texto branco-azulado */
    font-family: 'Space Grotesk', sans-serif; /* Fonte Space Grotesk */
}

input {
    width: calc(100% - 20px);
    padding: 12px;
    margin: 10px 10px 10px 1px;
    border: 1px solid #F5F9FF; /* Borda branco-azulada */
    border-radius: 0px;
    font-size: 18px;
    background-color: #0B1E3F; /* Fundo azul escuro */
    color: #F5F9FF; /* Texto branco-azulado */
    font-family: 'Space Grotesk', sans-serif; /* Fonte Space Grotesk */
}

button {
    background-color: #F5F9FF; /* Fundo branco-azulado */
    color: #0B1E3F; /* Texto azul escuro */
    border: none;
    padding: 16px 32px; /* Aumentado o tamanho do botão */
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px; /* Aumentado o tamanho da fonte */
    width: auto; /* Ajusta o tamanho do botão ao conteúdo */
    font-weight: bold;
    margin-top: 15px; /* Espaçamento entre os elementos */
    font-family: 'Space Grotesk', sans-serif; /* Fonte Space Grotesk */
    display: block; /* Garante que o botão seja tratado como um bloco */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
}

button:hover {
    background-color: #DCE4F2; /* Fundo branco-azulado mais claro ao passar o mouse */
}

/* Estilo geral */
body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #0B1E3F;
    color: #F5F9FF;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Container principal */
.container {
    background: #224582;
    padding: 10px 50px 30px 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    max-width: 500px;
}

/* Título */
h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

/* Formulário de upload */
.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.upload-container span {
    text-align: center;
    margin-bottom: 20px;

}

.upload-container button {
    font-size: 12px;
    padding: 5px 10px;
}

/* Botão de troca de idioma */
.language-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
}

#language-button {
    background-color: #F5F9FF;
    color: #0B1E3F;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

#language-button .flag-icon {
    width: 20px;
    height: 14px;
}

#language-button:hover {
    background-color: #DCE4F2;
}

/* Estilo para o botão de upload estilizado */
#file-upload {
    display: none; /* Oculta o botão padrão */
}

#custom-file-upload {
    display: inline-block;
    background-color: #F5F9FF; /* Fundo branco-azulado */
    color: #0B1E3F; /* Texto azul escuro */
    padding: 8px 16px; /* Diminuído o tamanho do botão */
    font-size: 14px; /* Diminuído o tamanho da fonte */
    font-weight: bold;
    border: 2px solid #0B1E3F; /* Borda azul escuro */
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#custom-file-upload:hover {
    background-color: #DCE4F2; /* Fundo mais claro ao passar o mouse */
    color: #0B1E3F; /* Texto azul escuro */
}